<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome to our TRIP PLANNER RECOMMENDATION</h1>
            <p class="lead">Thanks for your willingness to participate in this study.</p>
            <hr class="my-4">
            <h6>In this experiment, we ask you to evaluate our trip planner recommendation, by following the step below:</h6>
                <ol>
                <li>Specify your constraint: budget, days (trip duration), number of persons, then choose preferred activity</li>
                <li>In this step, you may or may not tell the system what is your preferred activities.</li>
                <li>You will see the pairs of options. Every time you see the pair, you only need to choose one option which you think better than the other in a pair. You may skip if you think none of the choice matches your preference. You may go back and revise your preferences. </li>
                <li>If you are happy with your choice, you can submit and let the machine calculate the best trip for you. There are two trips calculated:
                    <ul>
                        <li>Type A</li>
                        <li>Type B</li>
                    </ul>
                </li>
                <li>Please evaluate those two types of recommendation, check all the details.<br></li>
                <li>There is an additional feature <strong>"Save spots and Shake the rest"</strong>. Once you get the trip recommendation, you can save your favourite spots by clicking the blue <strong>"SAVE"</strong> button in each spot and shake off the rest choices by clicking <strong>SHAKE OFF</strong> green button on top of the page.</li>
                <li>After you are done with evaluating the system, you need to fill in the questionnaire by clicking the button: "Please participate in the questionnaire. Click Here"</li>
                <li>At the end of the survey you can enter a prize draw to win a Tokopedia gift card.</li>
                </ol>
                <p>
                    If you need further information, please contact us at: <strong>nunung.qomariyah@binus.edu</strong> or <strong>nurul.qomariyah@york.ac.uk</strong>
                </p>                
                <p>
                Thank you,<br>
                Nurul, Fajar, Dimitar, Nicholas<br>
                Research Team <br>
                Binus University, Indonesia - University of York, UK<br>
                </p>
                <a class="btn btn-primary btn-lg " [routerLink]="['/consentForm']" role="button">Fill the consent form before starting</a>
        </div>
    </div>
</div>